{% extends 'base.html' %}

{% block content %}

<!-- Page Content -->
<div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
        <h1 class="mt-5">About Bookit</h1>
        <p class="lead">Bookit is an application written by Jakob Calven with the intent of
            removing the guesswork in predicting hotel prices. 
            
        <p class="lead">
            Using machine learning and hotel price data 
            scraped from Booking.com, Bookit is able to predict how hotel prices are likely
            to change up to 6 months into the future. Currently, Bookit relies only on historical
            data to make predictions but a more sophisticated model is in the works that will 
            enable Bookit to make predictions using current prices.</p>
            
        <p class="lead">At the moment Bookit can only predict prices for Las Vegas, but
        San Francisco and New York will soon be added. Stay tuned!</p>

        <h2 class="mt-5">... the author</h2>
        <p class="lead">Jakob is a PhD student in physics at Stockholm University and an aspiring
            data scientist.
        </p>
      </div>
    </div>
  </div>

{% endblock %}