{% from 'bootstrap/nav.html' import render_nav_item %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bookit - A Hotel Pricing Tool</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bokeh core js -->
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-2.1.0.min.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.0.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-4">
        <a class="navbar-brand" href="/">Bookit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {{ render_nav_item('index', 'Home', use_li=True) }}
                {{ render_nav_item('about', 'About', use_li=True) }}
            </ul>
        </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    {{ bootstrap.load_js() }}

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.slim.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
